[submodule "win-monitoring"]
	path = win-monitoring
	url = https://github.com/ryuheechul/win-monitoring
[submodule "do-tht-echo"]
	path = do-tht-echo
	url = https://github.com/ryuheechul/do-tht-echo
[submodule "eb-sqs-imdsv2"]
	path = eb-sqs-imdsv2
	url = https://github.com/ryuheechul/eb-sqs-imdsv2
[submodule "taste-crossplane"]
	path = taste-crossplane
	url = https://github.com/ryuheechul/taste-crossplane
[submodule "playground-actions"]
	path = playground-actions
	url = https://github.com/ryuheechul/playground-actions
[submodule "dummy-aws"]
	path = dummy-aws
	url = https://github.com/ryuheechul/dummy-aws
